
.container {   
    margin: 0 14px;
}

.form {
    width: 100%;
    display: flex;
    gap: 14px;
}

.form input {
    width: 100%;
    height: 44px;
    border-radius: 8px;
    padding: 0 8px;
    outline: none;
    border: 0;
}

.form button {
    background: transparent;
    border: 0;
}

table {
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0 14px;
}

.tr {
    background-color: #1d1c20;
}

td:first-child,
th:first-child {
    border-radius: 8px 0 0 8px;
}

td:last-child,
th:last-child {
    border-radius: 0 8px 8px 0;
}

table th {
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFF;
}

.tdLable span {
    font-weight: bold;
    font-size: 18px;
    color: #FFF;
}

.tdLabel,
.tdProfit,
.tdLoss {
    color: #BBB;
}

.tdProfit {
    color: #12f98a;
}

.tdLoss {
    color: #f91257;
}

.link {
    text-decoration: none;
    color: #FFF;
    transition: color 0.5s;
}

.link:hover {
    color: #30beff;
}

table th,
table td {
    padding: 14px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        margin: -1px;
        width: 1px;
    }

    .tr {
        border-bottom: 1px solid #ddd;
        display: block;
        margin-bottom: 14px;
    }

    table td {
        border-bottom: 1px solid rgba(221, 221, 221, 0.160);
        display: block;
        font-size: 14px;
        text-align: right;
    }

    table td:last-child {
        border-bottom: 0;
    }

    td:first-child,
    th:first-child {
        border-radius: 0;
    }

    td:last-child,
    th:last-child {
        border-radius: 0;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        color: #FFF;
        text-transform: uppercase;
    }

}