
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container h1 {
    margin-top: 24px;
    margin-bottom: 14px;
    color: #FFF;
}

.container a {
    text-decoration: none;
    color: #FFF;
    background-color: #575757;
    padding: 8px 24px;
    border-radius: 8px;
    transition: all 0.3s;
}

.container a:hover {
    transform: scale(1.08);
    background-color: #30beff;
}